/* banner section start
	============================================================================================ */
.hero-banner{
  position: relative;
  background: url(../img/vesti.jpg) left center no-repeat;
  background-size: cover;
  height: 400px;
  z-index: 1;

  @media(min-width: 1000px){
    height: 550px;
  }

  &--sm{
    height: 300px;

    @media(min-width: 1000px){
      height: 400px;
    }
  }

  &::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(1, 3, 15, 0.2);
    z-index: -1;
  }

  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    & > *{
      color: #fff;
    }

    h3{
      font-size: 27px;
      margin-bottom: 0;
    }

    h1{
      margin-bottom: 12px;
    }

    h4{
      font-size: 18px;
    }
  }
}
/* banner section end
  ============================================================================================ */
  
/* breadcrumb section start
  ============================================================================================ */
  .banner-breadcrumb{
    display: inline-block;
    
    .breadcrumb{
      background: transparent;
      padding: 0;
  
      &-item{
        padding: .1rem;
  
        a{
          text-transform: capitalize;
          color: #fff;
        }
  
        &+.breadcrumb-item::before{
          color: #fff;
          padding-right: .1rem;
          content: "-";
        }
  
        &.active{
          color: #fff;
        }
      }
    }
  }
/* breadcrumb section end
  ============================================================================================ */